swagger: '2.0'
info:
  description: ''
  version: '1.0'
  title: TM Forum Appointment API
host: api.orange.com
basePath: /
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  /appointment:
    post:
      tags:
        - appointment
      operationId: appointmentCreate
      summary: create
      description: >-
        After checking free slots, this operation is used to create an
        appointment with all its characteristics.
      deprecated: false
      parameters:
        - name: appointment
          in: body
          required: true
          schema:
            $ref: '#/definitions/Appointment'
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/Appointment'
        '400':
          description: bad_request
          schema:
            $ref: '#/definitions/Error'
    get:
      tags:
        - appointment
      operationId: appointmentList
      summary: find
      description: >-
        This operation is used to retrieve appointment information using filter
        criteria. Especially criteria like period or party 

        Filtering selection is enabled on all attributes: first level and inner
        classes
      deprecated: false
      parameters:
        - name: fields
          in: query
          required: false
          description: For attribute selection
          type: string
        - name: serviceArea
          in: query
          required: false
          description: Service Area
          type: string
        - name: startDate
          in: query
          required: false
          description: Earliest Appointment Date
          type: string
        - name: endDate
          in: query
          required: false
          description: Latest Appointment Date
          type: string
        - name: workType
          in: query
          required: false
          description: The type of work
          type: string
        - name: category
          in: query
          required: false
          description: Customer category
          type: string
        - name: limitList
          in: query
          required: false
          description: limit the number of appointments returned
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/Appointment'
          examples:
            application/json:
              - category: B2C           
                serviceArea: Guildford
                endDate: '31.07.2018'
                alarmAction: 'SMS'
                creationDate: '1953-04-27T04:54:28.593Z'
                lastUpdate: '31.07.2018'
                startDate: '31.07.2018'
                description: Hertiage to SMETS1 Smart Electricity Install
                externalId: EXT01
                id: SO01
                href: https://api.sse.co.uk/appointment/SO01
                status: Scheduled
                WorkRequired:
                - workType: SMETS1
                  workTasks:
                  - workTask: TASK1
                relatedParty:
                - href: https://api.sse.co.uk/relatedParty/CUST01
                  id: 16578612
                  role: Customer
                  name: Mr Proof of Concept 1
                address:
                - id: 123456701
                  href: https://api.sse.co.uk/address/123456701
                note:
                - author: Darryl Cook
                  date: '30.07.2018'
                  text: This is a service order 1 note for Job 2
                - author: Darryl Cook
                  date: '31.07.2018'
                  text: This is a service order 2 note for Job 2
 
              - category: B2C           
                serviceArea: Guildford
                endDate: '31.07.2018'
                alarmAction: 'SMS'
                creationDate: '1953-04-27T04:54:28.593Z'
                lastUpdate: '31.07.2018'
                startDate: '31.07.2018'
                description: Hertiage to SMETS1 Smart Electricity Install
                externalId: EXT02
                id: SO02
                href: https://api.sse.co.uk/appointment/SO02
                status: Scheduled
                WorkRequired:
                - workType: SMETS1
                  workTasks:
                  - workTask: TASK1
                relatedParty:
                - href: https://api.sse.co.uk/relatedParty/CUST02
                  id: 16578612
                  role: Customer
                  name: Mr Proof of Concept 2
                address:
                - id: 123456702
                  href: https://api.sse.co.uk/address/123456702
                note:
                - author: Darryl Cook
                  date: '31.07.2018'
                  text: This is a service order note for Job 1    
        '400':
          description: bad_request
          schema:
            $ref: '#/definitions/Error'
  '/appointment/{appointmentId}':
    get:
      tags:
        - appointment
      operationId: appointmentfindById
      summary: findById
      description: >-
        This operation is used to research an appointment by its identifier.

        Note that collections can be retrieved via GET /api/appointment with no
        {ID}
      deprecated: false
      parameters:
        - name: appointmentId
          in: path
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Appointment'
          examples:
            application/json:
              - category: B2C           
                serviceArea: Guildford
                endDate: '31.07.2018'
                alarmAction: 'SMS'
                creationDate: '1953-04-27T04:54:28.593Z'
                lastUpdate: '31.07.2018'
                startDate: '31.07.2018'
                description: Hertiage to SMETS1 Smart Electricity Install
                externalId: EXT01
                id: SO01
                href: https://api.sse.co.uk/appointment/1678687236
                status: Scheduled
                WorkRequired:
                - workType: SMETS1
                  workTasks:
                  - workTask: TASK1
                relatedParty:
                - href: https://api.sse.co.uk/relatedParty/1678687236
                  id: 16578612
                  role: Customer
                  name: Mr Proof of Concept 1
                address:
                - id: 123456701
                  href: https://api.sse.co.uk/address/123456701
                note:
                - author: Darryl Cook
                  date: '30.07.2018'
                  text: This is a service order 1 note for Job 2
                - author: Darryl Cook
                  date: '31.07.2018'
                  text: This is a service order 2 note for Job 2
 
        '404':
          description: not_found
          schema:
            $ref: '#/definitions/Error'
    patch:
      tags:
        - appointment
      operationId: appointmentPatch
      summary: patch
      description: >-
        This operation can be used to update an appointment if information has
        changed. 

        This is also used to cancel an appointment by modifying the status. The
        new status is ‘cancelled’.
      deprecated: false
      parameters:
        - name: appointmentId
          in: path
          required: true
          type: string
        - name: appointment
          in: body
          required: true
          schema:
            $ref: '#/definitions/Appointment'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Appointment'
  '/appointment/{appointmentId}/schedule':
    post:
      tags:
        - schedule
      operationId: scheduleCreate
      summary: create
      description: >-
        This operation is used to retrieve relevant free slots, available for
        rescheduling an existing appointment on.
      deprecated: false
      parameters:
        - name: appointmentId
          in: path
          required: true
          type: string
        - name: schedule
          in: body
          required: true
          schema:
            $ref: '#/definitions/Schedule'
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/Schedule'
        '400':
          description: bad_request
          schema:
            $ref: '#/definitions/Error'
  /schedule:
    post:
      tags:
        - schedule
      operationId: scheduleCreate2
      summary: create
      description: >-
        This operation is used to retrieve relevant free slots, available to
        book an appointment on, and matching a set of criterias.
      deprecated: false
      parameters:
        - name: schedule
          in: body
          required: true
          schema:
            $ref: '#/definitions/Schedule'
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/Schedule'
        '400':
          description: bad_request
          schema:
            $ref: '#/definitions/Error'
  /freeSlot/search:
    post:
      tags:
        - freeSlot
      operationId: search
      summary: search 
      description: >-
        This operation is used to retrieve relevant free slots available to
        book an appointment on for a given crietia.
      deprecated: false
      parameters:
        - name: Schedule
          in: body
          required: false
          description: ''
          schema:
            $ref: '#/definitions/Schedule'
 
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/FreeSlot'
          examples:
            application/json:
              - startDate: '2018-08-01T09:00:00.000Z'           
                endtDate: '2018-08-01T10:00:00.000Z'   
                relatedParty:
                - href: https://api.sse.co.uk/relatedParty/MP01
                  id: MOP01
                  role: MOP
                  name: 
              - startDate: '2018-08-01T10:00:00.000Z'           
                endtDate: '2018-08-01T11:00:00.000Z'   
                relatedParty:
                - href: https://api.sse.co.uk/relatedParty/MP01
                  id: MOP01
                  role: MOP
                  name: 
              - startDate: '2018-08-01T11:00:00.000Z'           
                endtDate: '2018-08-01T12:00:00.000Z'   
                relatedParty:
                - href: https://api.sse.co.uk/relatedParty/MP02
                  id: MOP02
                  role: MOP
                  name: 
              - startDate: '2018-08-01T12:00:00.000Z'           
                endtDate: '2018-08-01T13:00:00.000Z'   
                relatedParty:
                - href: https://api.sse.co.uk/relatedParty/MP02
                  id: MOP02
                  role: MOP
                  name: 
              - startDate: '2018-08-01T13:00:00.000Z'           
                endtDate: '2018-08-01T14:00:00.000Z'   
                relatedParty:
                - href: https://api.sse.co.uk/relatedParty/MP03
                  id: MOP03
                  role: MOP
                  name: 
              - startDate: '2018-08-01T14:00:00.000Z'           
                endtDate: '2018-08-01T15:00:00.000Z'   
                relatedParty:
                - href: https://api.sse.co.uk/relatedParty/MP01
                  id: MOP01
                  role: MOP
                  name: 
 
 
definitions:
  Appointment:
    type: object
    properties:
      alarm:
        type: boolean
      attachment:
        type: array
        items:
          $ref: '#/definitions/CalendarEntryAttachment'
      category:
        type: string
      serviceArea:
        type: string
      endDate:
        type: string
        format: date-time
      alarmAction:
        type: string
      creationDate:
        type: string
        format: date-time
      href:
        type: string
      lastUpdate:
        type: string
        format: date-time
      startDate:
        type: string
        format: date-time
      description:
        type: string
      externalId:
        type: string
      id:
        type: string
      status:
        type: string
        enum:
          - Missed
          - Attented
          - Completed
          - Cancelled
          - Validated
          - Initialised
      WorkRequired:
        type: array
        items:
          $ref: '#/definitions/WorkSpecificationRef'
      relatedParty:
        type: array
        items:
          $ref: '#/definitions/RelatedPartyRef'
      address:
        $ref: '#/definitions/Address'
      relatedObject:
        type: array
        items:
          $ref: '#/definitions/RelatedObject'
      note:
        type: array
        items:
          $ref: '#/definitions/Note'
  RelatedPartyRef:
    type: object
    properties:
      href:
        type: string
      id:
        type: string
      role:
        type: string
      name:
        type: string
  RelatedObject:
    type: object
    properties:
      involvement:
        type: string
      reference:
        type: string
  Address:
    type: object
    properties:
      id:
        type: string
      href:
        type: string
  AddressFull:
    description: >-
      Structured textual way of describing how to find a Property in an urban
      area (country properties are often defined differently).
    type: object
    properties:
      id:
        type: string
      href:
        type: string
      streetNr:
        type: string
      streetNrSuffix:
        type: string
      streetNrLast:
        type: string
      streetNrLastSuffix:
        type: string
      streetName:
        type: string
      streetType:
        type: string
      streetSuffix:
        type: string
      postcode:
        type: string
      locality:
        type: string
      city:
        type: string
      stateOrProvince:
        type: string
      country:
        type: string
      geoCode:
        $ref: '#/definitions/GeoCode'
  GeoCode:
    description: Geographic coordinates to point to the address
    type: object
    properties:
      latitude:
        type: string
      longitude:
        type: string
      geographicDatum:
        type: string
  CalendarEntryAttachment:
    type: object
    properties:
      href:
        type: string
  Note:
    type: object
    properties:
      author:
        type: string
      date:
        type: string
        format: date-time
      text:
        type: string
  Schedule:
    type: object
    properties:
      serviceArea:
        type: string
      category:
        type: string
      startDate:
        type: string
        format: date-time
      endDate:
        type: string
        format: date-time
      weekNumber:
        type: string
      favoriteAmpm:
        type: string
        enum:
          - AM
          - PM
      limit:
        type: string
      marketSegment:
        type: string
      address:
          $ref: '#/definitions/AddressFull'
      relatedParty:
        type: array
        items:
          $ref: '#/definitions/RelatedPartyRef'
      productSpecification:
        type: array
        items:
          $ref: '#/definitions/ProductSpecificationRef'
      WorkRequired:
        type: array
        items:
          $ref: '#/definitions/WorkSpecificationRef'
      freeSlot:
        type: array
        items:
          $ref: '#/definitions/FreeSlot'
  WorkSpecificationRef:
    type: object
    properties:
      workType:
        type: string
      workTasks:
        type: array
        items:
          $ref: '#/definitions/WorkTask'
  WorkTask:
    type: object
    properties:
      workTask:
        type: string
  ProductSpecificationRef:
    type: object
    properties:
      id:
        type: string
      href:
        type: string
  FreeSlot:
    type: object
    properties:
      endDate:
        type: string
        format: date-time
      startDate:
        type: string
      relatedParty:
        type: array
        items:
          $ref: '#/definitions/RelatedPartyRef'
  Error:
    required:
      - code
      - message
    properties:
      code:
        description: >-
          An integer coding the error type. This is given to caller so he can
          translate them if required.
        type: integer
      message:
        description: A short localized string that describes the error.
        type: string
      description:
        description: >-
          (optional) A long localized error description if needed. It can
          contain precise information about which parameter is missing, or what
          are the identifier acceptable values.
        type: string
      infoURL:
        description: >-
          (optional) A URL to online documentation that provides more
          information about the error.
        type: string